In [2]:
import pandas as pd

In [3]:
#df = pd.read_csv('water_data_class.csv')
df = pd.read_csv('water_data_class.csv', encoding='latin-1')

In [4]:
df

,country,countrycode,population,total renewable freshwater resources [billion cubic meters] 2002,total renewable freshwater resources [billion cubic meters] 2014,annual freshwater withdrawl [%] 2002,annual freshwater withdrawl [%] 2014
0,Aruba,ABW,103441,NaN,NaN,NaN,0.000000
1,Andorra,AND,72786,0.3156,0.3156,NaN,0.000000
2,Afghanistan,AFG,31627506,47.1500,47.1500,43.011665,43.011665
3,Angola,AGO,24227524,148.0000,148.0000,0.432770,0.476892
4,Albania,ALB,2894475,26.9000,26.9000,6.832714,4.873606
5,Arab World,ARB,385272539,109.5810,113.5810,NaN,215.861192
6,United Arab Emirates,ARE,9086139,0.1500,0.1500,1936.000000,2665.333333
7,Argentina,ARG,42980026,292.0000,292.0000,NaN,12.938356
8,Armenia,ARM,3006154,6.8590,6.8590,25.266074,42.877971
9,American Samoa,ASM,55434,NaN,NaN,NaN,0.000000
10,Antigua and Barbuda,ATG,90900,0.0520,0.0520,NaN,22.115385
11,Australia,AUS,23470118,492.0000,492.0000,4.410569,4.014228
12,Austria,AUT,8545908,55.0000,55.0000,6.649091,6.649091
13,Azerbaijan,AZE,9535079,8.1150,8.1150,124.091189,147.504621
14,Burundi,BDI,10816860,10.0600,10.0600,2.862823,2.862823
15,Belgium,BEL,11231213,12.0000,12.0000,56.150000,51.466667
16,Benin,BEN,10598482,10.3000,10.3000,1.262136,1.262136
17,Burkina Faso,BFA,17589198,12.5000,12.5000,5.725600,6.544000
18,Bangladesh,BGD,159077513,105.0000,105.0000,NaN,34.161905
19,Bulgaria,BGR,7223938,21.0000,21.0000,27.095238,29.138095
20,Bahrain,BHR,1361930,0.0040,0.0040,NaN,8935.000000
21,"Bahamas, The",BHS,383054,0.7000,0.7000,NaN,NaN
22,Bosnia and Herzegovina,BIH,3817554,35.5000,35.5000,NaN,0.926761
23,Belarus,BLR,9470000,34.0000,34.0000,5.402941,4.452941
24,Belize,BLZ,351706,15.2600,15.2600,0.661861,0.661861
25,Bermuda,BMU,65181,NaN,NaN,NaN,NaN
26,Bolivia,BOL,10561887,303.5000,303.5000,NaN,0.687974
27,Brazil,BRA,206077898,5661.0000,5661.0000,NaN,1.321851
28,Barbados,BRB,283380,0.0800,0.0800,NaN,101.250000
29,Brunei Darussalam,BRN,417394,8.5000,8.5000,NaN,1.082353
...,...,...,...,...,...,...,...
218,Togo,TGO,7115163,11.5000,11.5000,1.469565,1.469565
219,Thailand,THA,67725979,224.5000,224.5000,0.000000,25.527840
220,Tajikistan,TJK,8295840,63.4600,63.4600,18.846517,18.105893
221,Turkmenistan,TKM,5307188,1.4050,1.4050,1772.953737,1989.323843
222,Timor-Leste,TLS,1212107,8.2150,8.2150,0.000000,14.266586
223,Tonga,TON,105586,NaN,NaN,0.000000,0.000000
224,Trinidad and Tobago,TTO,1354483,3.8400,3.8400,8.177083,9.979167
225,Tunisia,TUN,10996600,4.1950,4.1950,67.938021,78.784267
226,Turkey,TUR,75932348,227.0000,227.0000,18.502203,17.665198
227,Tuvalu,TUV,9893,NaN,NaN,NaN,NaN
228,Tanzania,TZA,51822621,84.0000,84.0000,6.171429,6.171429
229,Uganda,UGA,37782971,39.0000,39.0000,0.813846,1.633333
230,Ukraine,UKR,45362900,55.1000,55.1000,33.176044,26.950998
231,Upper middle income,UMC,2360817817,15552.8680,15561.2750,NaN,7.389323
232,Uruguay,URY,3419516,92.2000,92.2000,3.969631,3.969631
233,United States,USA,318857056,2818.0000,2818.0000,16.799148,16.976579
234,Uzbekistan,UZB,30757700,16.3400,16.3400,370.746634,342.717258
235,St. Vincent and the Grenadines,VCT,109360,0.1000,0.1000,NaN,8.500000
236,"Venezuela, RB",VEN,30693827,805.0000,805.0000,1.125963,2.811180
237,Virgin Islands (U.S.),VIR,104170,NaN,NaN,NaN,NaN
238,Vietnam,VNM,90728900,359.4000,359.4000,NaN,22.824151
239,Vanuatu,VUT,258883,NaN,NaN,NaN,NaN
240,West Bank and Gaza,PSE,4294682,0.8120,0.8120,34.359606,51.477833
241,World,WLD,7259691769,43378.3481,42800.7551,NaN,9.139196
242,Samoa,WSM,191845,NaN,NaN,NaN,NaN
243,"Yemen, Rep.",YEM,26183676,2.1000,2.1000,161.904762,169.761905
244,South Africa,ZAF,54001953,44.8000,44.8000,27.901786,27.901786
245,"Congo, Dem. Rep.",COD,74877030,900.0000,900.0000,0.064900,0.075956
246,Zambia,ZMB,15721343,80.2000,80.2000,1.960100,1.960100
247,Zimbabwe,ZWE,15245855,12.2600,12.2600,34.298532,34.298532